In [8]:
import csv
with open('data/airline-safety.csv', mode='rU') as f:
    file_nested_list = [row for row in csv.reader(f)]

file_nested_list[0]

header = file_nested_list[0]
data = file_nested_list[1:]

header
#data

'''
EXERCISES:

1. Create a list containing the average number of incidents per year for each airline.
Example for Aer Lingus: (2 + 0)/30 = 0.07
Expected output: [0.07, 2.73, 0.23, ...]
'''
result = [ round((float(row[2]) + float(row[5]))/30,2) for row in data]
print(result)

[0.07, 2.73, 0.23, 0.27, 0.13, 0.67, 0.2, 0.27, 0.33, 0.37, 0.33, 1.27, 0.07, 0.17, 0.33, 0.07, 0.47, 0.07, 0.1, 1.6, 0.4, 0.07, 1.0, 0.03, 0.47, 0.13, 0.03, 0.3, 0.1, 0.13, 0.27, 0.43, 0.1, 0.3, 0.2, 0.6, 0.3, 0.2, 0.27, 0.37, 0.6, 0.13, 0.1, 0.3, 0.2, 0.17, 0.13, 0.5, 0.0, 0.33, 0.53, 1.1, 0.9, 0.27, 0.03, 0.37]

In [9]:
'''
2. Create a list of airline names (without the star).
Expected output: ['Aer Lingus', 'Aeroflot', 'Aerolineas Argentinas', ...]

'''
airlines = [ row[0].replace("*","") for row in data]
print(airlines)

['Aer Lingus', 'Aeroflot', 'Aerolineas Argentinas', 'Aeromexico', 'Air Canada', 'Air France', 'Air India', 'Air New Zealand', 'Alaska Airlines', 'Alitalia', 'All Nippon Airways', 'American', 'Austrian Airlines', 'Avianca', 'British Airways', 'Cathay Pacific', 'China Airlines', 'Condor', 'COPA', 'Delta / Northwest', 'Egyptair', 'El Al', 'Ethiopian Airlines', 'Finnair', 'Garuda Indonesia', 'Gulf Air', 'Hawaiian Airlines', 'Iberia', 'Japan Airlines', 'Kenya Airways', 'KLM', 'Korean Air', 'LAN Airlines', 'Lufthansa', 'Malaysia Airlines', 'Pakistan International', 'Philippine Airlines', 'Qantas', 'Royal Air Maroc', 'SAS', 'Saudi Arabian', 'Singapore Airlines', 'South African', 'Southwest Airlines', 'Sri Lankan / AirLanka', 'SWISS', 'TACA', 'TAM', 'TAP - Air Portugal', 'Thai Airways', 'Turkish Airlines', 'United / Continental', 'US Airways / America West', 'Vietnam Airlines', 'Virgin Atlantic', 'Xiamen Airlines']

In [10]:
'''
3. Create a list (of the same length) that contains 1 if there's a star and 0 if not.
Expected output: [0, 1, 0, ...]

'''
airlines = []
for row in data:
    if "*" in row[0]:
        airlines.append(1)
    else:
        airlines.append(0)

print(airlines)

[0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]

In [15]:
'''
4. BONUS: Create a dictionary in which the key is the airline name (without the star)
   and the value is the average number of incidents.
Expected output: {'Aer Lingus': 0.07, 'Aeroflot': 2.73, ...}
'''

airline_dict = {}
for row in data:
    airline_dict[row[0].replace("*","")] = round((float(row[2])+float(row[5]))/30,2)
print(sorted(airline_dict.items()))

[('Aer Lingus', 0.07), ('Aeroflot', 2.73), ('Aerolineas Argentinas', 0.23), ('Aeromexico', 0.27), ('Air Canada', 0.13), ('Air France', 0.67), ('Air India', 0.2), ('Air New Zealand', 0.27), ('Alaska Airlines', 0.33), ('Alitalia', 0.37), ('All Nippon Airways', 0.33), ('American', 1.27), ('Austrian Airlines', 0.07), ('Avianca', 0.17), ('British Airways', 0.33), ('COPA', 0.1), ('Cathay Pacific', 0.07), ('China Airlines', 0.47), ('Condor', 0.07), ('Delta / Northwest', 1.6), ('Egyptair', 0.4), ('El Al', 0.07), ('Ethiopian Airlines', 1.0), ('Finnair', 0.03), ('Garuda Indonesia', 0.47), ('Gulf Air', 0.13), ('Hawaiian Airlines', 0.03), ('Iberia', 0.3), ('Japan Airlines', 0.1), ('KLM', 0.27), ('Kenya Airways', 0.13), ('Korean Air', 0.43), ('LAN Airlines', 0.1), ('Lufthansa', 0.3), ('Malaysia Airlines', 0.2), ('Pakistan International', 0.6), ('Philippine Airlines', 0.3), ('Qantas', 0.2), ('Royal Air Maroc', 0.27), ('SAS', 0.37), ('SWISS', 0.17), ('Saudi Arabian', 0.6), ('Singapore Airlines', 0.13), ('South African', 0.1), ('Southwest Airlines', 0.3), ('Sri Lankan / AirLanka', 0.2), ('TACA', 0.13), ('TAM', 0.5), ('TAP - Air Portugal', 0.0), ('Thai Airways', 0.33), ('Turkish Airlines', 0.53), ('US Airways / America West', 0.9), ('United / Continental', 1.1), ('Vietnam Airlines', 0.27), ('Virgin Atlantic', 0.03), ('Xiamen Airlines', 0.37)]